<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
  <body>

      <!-- Navigation -->
    <% include partials/navbar %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us.</h1>
          <p class="lead">We are so cool, you have no idea!</p>
          <a href="#" class="btn btn-primary btn-lg">Learn more</a>
        </header>

        <!-- Page Features -->
        <!--<section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">See the most active topics as well as trending subjects every day!</p>
          </section>

        </section> -->
        <!-- /.row -->

      </main>
      <!-- /.container -->
        <% include partials/baseScripts %>
      </body>
</html>
